$animationDuration: 500ms;
$shadow-clr: rgba(34, 174, 221, 1);
$fill-clr: rgba(34, 174, 221, 0.2);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body,
#root,
.app {
	width: 100vw;
	height: 100vh;
	background: #f8f8f8;
	font-family: 'Roboto', 'Segoe UI', 'Courier', 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
	cursor: grab;
	color: #444;
}

.app:active {
	cursor: grabbing;
}

.react-transform-component,
.react-transform-element {
	width: 100vw !important;
	height: 100vh !important;
}

.image-wrapper,
.image,
.konvajs-content,
canvas {
	position: static !important;
	width: auto !important;
	height: auto !important;
	max-width: 90vw !important;
	max-height: 90vh !important;
}

.react-transform-component,
.react-transform-element,
.image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-wrapper {
	position: relative !important;
	background: white;
	box-shadow: 0 5px 15px -3px #00000020;
	width: 3308px;
	height: 2339px;
}

.bounding_box {
	position: absolute;
	display: block;
	animation: fadeIn $animationDuration forwards;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: white;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 0 1px 5px -1px #00000000;
	background: transparent;
	transition: box-shadow 150ms, backdrop-filter 150ms, background 150ms;

	&.highlight {
		animation: fadeIn $animationDuration forwards, highlight 2000ms normal;
	}

	&:hover {
		box-shadow: 0 0 0 2px $shadow-clr !important;
		background: $fill-clr !important;
	}
}

.show-box .bounding_box {
	box-shadow: 0 0 0 2px $shadow-clr !important;
	background: $fill-clr !important;
}

.image {
	&.pending {
		opacity: 0;
	}

	&.loaded {
		animation: fadeIn $animationDuration forwards;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes highlight {
	from {
		box-shadow: 0 0 0 2px $shadow-clr;
		background: $fill-clr;
	}

	to {
		box-shadow: 0 0 0 2px transparent;
		background: transparent;
	}
}

.toolbar {
	position: fixed;
	top: 1rem;
	right: 1.2rem;
	z-index: 1;
	display: flex;

	.help {
		display: flex;
		flex-direction: column;
		pointer-events: none;

		button {
			pointer-events: auto;
			margin-left: auto;
			background: none;
			border: none;
			border-radius: 500px;
			cursor: pointer;
			font-size: 0;
			background: #0084ff;
			box-shadow: 0 1px 6px -2px #00000080;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 3px #b5dbff;
			}

			svg {
				height: 30px;
				width: 30px;
			}
		}

		button:hover + .content,
		button:focus + .content {
			opacity: 1;
		}

		.content {
			position: absolute;
			right: 0;
			top: 30px;
			width: 25em;
			user-select: none;
			opacity: 0;
			transition: opacity 150ms;
			background: #fcfcfc;
			padding: 10px 10px 10px 40px;
			border-radius: 2px;
			box-shadow: 0 2px 6px 0px #00000030;
			transform: translate(0, 10px);
			list-style-type: decimal;

			li {
				line-height: 1.9;
			}

			&::before {
				content: '';
				position: absolute;
				height: 20px;
				width: 20px;
				background: inherit;
				top: -2px;
				right: 5px;
				transform: rotate(45deg);
			}
		}
	}

	.show-box-input {
		display: flex;
		align-items: center;
		margin-right: 1.7rem;
		padding-top: 2px;
		backdrop-filter: blur(1px);
		cursor: pointer;

		.label {
			margin-right: 0.35em;
			padding-bottom: 0.1em;
		}

		input {
			height: 1px;
			width: 1px;
			opacity: 0;
		}

		.fake-input {
			height: 18px;
			width: 18px;
			background-image: url(assets/fake-input.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			&.checked {
				background-image: url(assets/fake-input-checked.svg);
			}
		}
	}
}
